<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="fr.faylixe.ekite.EKitePlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.resources.markers"
         id="fr.faylixe.ekite.marker"
         name="kite">
         <super type="org.eclipse.core.resources.markers"/>
         <persistent value="true"/>
   </extension>
   <extension
   		 point="org.eclipse.ui.editors.annotationTypes">
		 <type
		 	super="org.eclipse.ui.editors.texteditor.warning"
		 	markerType="fr.faylixe.ekite.marker"
		 	name="fr.faylixe.ekite.annotation"
		 	markerSeverity="1" />
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
         	annotationType="fr.faylixe.ekite.annotation"
         	icon="icons/kite.png"
         	verticalRulerPreferenceKey="ekiteIndicationInVerticalRuler"
         	verticalRulerPreferenceValue="true"/>
   </extension>

</plugin>
