<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.core.resources.markers"   
        id="fr.faylixe.ekite.marker">
     	<super type="org.eclipse.core.resources.textmarker"/>         
     	<persistent value="true"/>
	</extension>

	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			super="org.eclipse.ui.workbench.texteditor.info"
			markerType="fr.faylixe.ekite.marker"
			name="fr.faylixe.ekite.kiteAnnotation"
			markerSeverity="0"/>
	</extension>

	  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
	     <specification
	        annotationType="fr.faylixe.ekite.kiteAnnotation"
	        icon="icons/kite.png"
	        verticalRulerPreferenceKey="kiteMarkerIndicationInVerticalRuler"
	        verticalRulerPreferenceValue="true"/>
	  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.faylixe.ekite.internal.EKitePreferencePage"
            id="fr.faylixe.ekite.preference"
            name="EKite">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.faylixe.ekite.toolbar"
               label="eKite">
            <command
                  commandId="fr.faylixe.ekite.enable"
                  icon="icons/kite.png"
                  label="Enable eKite"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.faylixe.ekite.internal.EKiteActivationCommand"
            id="fr.faylixe.ekite.enable"
            name="Enable eKite">
      </command>
   </extension>
</plugin>
